.card-text {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.3em;
}
h5 {
    font-size: 18px;
}

.modal_txt {
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

#modal_id {
    display: none;
}

.modal_user {
    text-align: center;
}

.innerContent {
    /*background-color: burlywood;*/
    border-width: thin;
    border: black;
    padding: 10px;
    border-radius: 10px;

    /*filter: brightness(120%);*/

}

.contentCard02 {
    padding: 20px;

    /*width: 85%;*/
    margin: auto;
}
.articleContent {
    padding-top: 20px;
    padding-bottom: 20px;
}

.bigContainer {

    background-color: #5bc0de;
    border-radius: 30px;
    padding: 30px;
    margin-right: 50px;
    margin-left: 50px;
    align-content: center;
    text-align: center;
    /*filter: brightness(85%);*/
    /*filter: sepia(75%);*/
}

.modal_title {
    text-align: center;
}

.modal-body {
    background-color: #d9e6e8;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
}

#articleModal {
    /*width: 200%;*/
}

.commentAvatar {
    width: 50px;
    height: 75px;
    display: inline;
}

.commentInfo {
    font-size: 10px;
    background-color: #4CAF50;
}

.commentArticleId {
    display: none;
}

#registerModal {
    width: 800px;
}

#editTextArea {
    display: none;
}

.save {
    display: none;
}


.commentz {
    /*for styling comments in the table*/
    width: 250px;
    height: 65px;
    background-color: forestgreen;
    margin: 5px;
    border-radius: 5px;
    text-align: left;
    padding: 10px 30px 30px 30px;
    margin-left: 10px;
}

.newcomment {
    /*for styling comments in the table*/
    width: 250px;
    height: 35px;
    background-color: forestgreen;
    margin: 5px;
    border-radius: 5px;
    text-align: left;
    padding: 10px;
    margin-left: 10px;

}

#articleModal {
    padding: 20px;
}

.smallCommentBtn {
    width: 100px;
    height: 35px;
    font-size: 10px;
    display: inline;
}

.tinyCommentsz {
    transform: translate(25px, 0px);

    width: 250px;
    height: 65px;
    background-color: forestgreen;
    margin: 5px;
    border-radius: 5px;
    text-align: left;
    padding: 10px 30px 30px 30px;
    margin-left: 10px;

}

.tinyCommentBtn {
    transform: translate(10px, 0px);
    width: 75px;
    height: 25px;
}

.smallText {
    display: inline;
    height: 35px;
}

.tinyText {
    width: 75px;
    height: 25px;
    display: inline;
}

#commentArea {
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
}

#editTitle {
    display: none;
}

#saveButton {
    display: none;
}
.btn-set {
    color: #333333;
    background-color: #d8d8d8;
    border-color: white;
    padding: 12px 12px;
    border-radius: 0;
}
.btn-delete {
    color: #333333;
    background-color: white;
    border-color: white;
    padding: 12px 12px;
    border-radius: 0;
}
.btn-set:hover {
    background-color: #24aceb;
    border-color: #24aceb;
}
.searchArticle{
    width: 70%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 4px 10px 4px 10px;
}
.searchDate {
    width: 50%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 4px 10px 4px 10px;
}
.searchButton {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 4px;
    border: none;
    padding: 7px 10px 7px 10px;
    background-color: #24aceb;
    color: white;
}
.searchButton:hover {
    background-color: #3978c6;
}
.searchButton:focus {
    background-color: #3978c6;
}
.searchButton:visited {
    background-color: #3978c6;
}
.createArticleBtn {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 13px;
    border-radius: 4px;
    border: none;
    padding: 7px 10px 7px 10px;
    background-color: #24aceb;
    color: white;
}
.createArticleBtn:hover {
    background-color: #3978c6;
}
.createArticleBtn:focus {
    background-color: #3978c6;
}
.createArticleBtn:visited {
    background-color: #3978c6;
}
.getRidOfpad {
    padding: 0;
}
.btn-set02{
    /*padding-right: 0;*/
    /*padding-left: 0;*/
    /*margin-left: 0;*/
    /*margin-right: 0;*/
    /*height: 60px;*/
}

/*input[type=text]:focus {*/
/*width: 60%;*/
/*}*/

