body {
    background-color: #333333;
    /*background-color: #333333;*/
    margin-top: 70px; /*(chinchien) this space is for navbar*/
}

.container {
    width: 90%;
}

/* Nav start */
.navbar {
    margin-bottom: 20px;
    border-radius: 0;
    /*background-color: white;*/
    /*color: black;*/
    font-size: 1.3em;
    border: 0;
}

.navbar-brand {
    float: left;
    min-height: 60px;
    padding: 14px 60px 15px;
}

.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:hover
{
    /*margin-bottom: 5px;*/
    border: 5px solid black;
    /*background-color: white;*/
}

.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    /*margin-top: 5px;*/
}

nav>li>a {
    position: relative;
    display: block;
    padding: 15px 30px;
}


@media screen and (max-width:600px) {
    .navbar-brand {
        padding: 14px 35px 15px
    }
}

.informationColumn{
    height: 100%;
    margin-top: 15px;
}

.articleColumn{
    /*box-sizing: padding-box;*/
}
#avatar{
    margin-left: auto;
    margin-right:auto;
    display:block;
}
.contentCard {
    margin-right:15px;
    /*margin-left:15px;*/
    border-radius: 6px;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 16px;
}
.contentCard02 {
    /*margin-right:15px;*/
    /*margin-left:15px;*/
    border-radius: 6px;
    background-color: white;

    padding: 20px 50px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.userInfor {
    padding-top: 10%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.userInforRow {
    padding-bottom: 6px;
    padding-top: 6px;
}
.userInforTitle {
    display: inline;
    padding-right: 30px;
    font-size: 1.2em;
}
.userInforDetail {
    display: inline;
    font-size: 1.2em;
}
.card-title{
    margin-top: 10px;
    border-bottom: 1px solid white;
}
.author {
    color: darkgray;
    border-bottom: 1px solid lightgrey;
}
.articleFooter {
    color: darkgray;
    font-size: 1.2em;
    padding-top: 10px;
    margin-bottom: 10px;
}
#myCarousel{
    /*margin-right:15px;*/
    /*margin-left:15px;*/
    margin-bottom: 20px;
}
.btn-set {
    color: #333333;
    background-color: #d8d8d8;
    border-color: white;
    padding: 12px 12px;
    border-radius: 0;
}
.btn-delete {
    color: #333333;
    background-color: white;
    border-color: white;
    padding: 12px 12px;
    border-radius: 0;
}
.btn-set:hover {
    background-color: #24aceb;
    border-color: #24aceb;
}
.searchArticle{
    width: 70%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 4px 10px 4px 10px;
}
.searchDate {
    width: 50%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 4px 10px 4px 10px;
}
.searchButton {
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 4px;
    border: none;
    padding: 7px 10px 7px 10px;
    background-color: #24aceb;
    color: white;
}
.searchButton:hover {
    background-color: #3978c6;
}
.searchButton:focus {
    background-color: #3978c6;
}
.searchButton:visited {
    background-color: #3978c6;
}
.createArticleBtn {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 13px;
    border-radius: 4px;
    border: none;
    padding: 7px 10px 7px 10px;
    background-color: #24aceb;
    color: white;
}
.createArticleBtn:hover {
    background-color: #3978c6;
}
.createArticleBtn:focus {
    background-color: #3978c6;
}
.createArticleBtn:visited {
    background-color: #3978c6;
}
.getRidOfpad {
    padding: 0;
}
.btn-set02{
    /*padding-right: 0;*/
    /*padding-left: 0;*/
    /*margin-left: 0;*/
    /*margin-right: 0;*/
    /*height: 60px;*/
}
#commentArea {
    background-color: #a4c0c5;
}
